:root {
  --winter-white: hsl(228, 71%, 96%);
  --spring-green: hsl(96, 93%, 84%);
  --summer-yellow: hsl(49, 95%, 77%);
  --autumn-orange: hsl(32, 92%, 65%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.winter {
  background-color: var(--winter-white);
}

.spring {
  background-color: var(--spring-green);
}

.summer {
  background-color: var(--summer-yellow);
}

.autumn {
  background-color: var(--autumn-orange);
}

.winter-image {
  background-image: url("https://images.unsplash.com/photo-1489674267075-cee793167910?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
}

.spring-image {
  background-image: url("https://images.unsplash.com/photo-1602615576820-ea14cf3e476a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.summer-image {
  background-image: url("https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.autumn-image {
  background-image: url("https://images.unsplash.com/photo-1504788363733-507549153474?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80");
}
